@mixin font-style($f-family, $f-style, $f-weight, $f-size, $f-height, $f-color){
    font-family: $f-family;
    font-style: $f-style;
    font-weight: $f-weight;
    font-size: $f-size;
    line-height: $f-height;
    color: $f-color;
}

// gilroy fonts

@font-face {
  font-family: "gilroy";
  src: url(../fonts/gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gilroy";
  src: url(../fonts/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "gilroy";
  src: url(../fonts/gilroy-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "gilroy";
  src: url(../fonts/gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "gilroy";
  src: url(../fonts/Gilroy-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}